<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset">
    <h3>Create a New Listing</h3>

    <!-- 🔥 IMPORTANT -->
    <form
      method="post"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <!-- TITLE -->
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <!-- CATEGORY -->
    <div class="mb-3">
    <label class="form-label">Category</label>
    <select class="form-select"  name="listing[category]" required> 
    <option value="other">Other</option>
    <option value="trending">Trending</option>
    <option value="rooms">Rooms</option>
    <option value="iconic cities">Iconic Cities</option>
    <option value="mountain">Mountain</option>
    <option value="amazing pools">Amazing Pools</option>
    <option value="camping">Camping</option>
    <option value="farms">Farms</option>
    <option value="arctic">Arctic</option>
    <option value="boats">Boats</option>
    <option value="domes">Domes</option>
    </select>
    </div>

      <!-- DESCRIPTION -->
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Description looks perfect.</div>
        <div class="invalid-feedback">Description is required</div>
      </div>

      <!-- imege -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
        <div class="valid-feedback">Image URL looks valid.</div>
        <div class="invalid-feedback">imege URL is required</div>
      </div>

      <!-- PRICE -->
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input
          name="listing[price]"
          type="number"
          class="form-control"
          required
        />
        <div class="valid-feedback">Valid price entered.</div>
        <div class="invalid-feedback">Price is required</div>
      </div>

      <!-- COUNTRY -->
      <div class="mb-3">
        <label class="form-label">Country</label>
        <input
          name="listing[country]"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Country name looks correct.</div>
        <div class="invalid-feedback">Country is required</div>
      </div>

      <!-- LOCATION -->
      <div class="mb-3">
        <label class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Location looks good.</div>
        <div class="invalid-feedback">Location is required</div>
      </div>

      <button type="submit" class="btn btn-dark">Add</button>
    </form>
  </div>
</div>
